!!!
%html
  %body
    %h1= title
    %h2= body
    %form{action: "/post", method: "post"}
      %label{for: "message[name]"} Name:
      %input{type: "text", name: "message[name]"}
      %input{type: "submit", value: "Submit"}
